.slider-container {
	padding: 10px;
	border-radius: 8px;
}

.slider-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 35px;
}

.slider-label {
	font-size: 14px;
	font-weight: 600;
	color: #4e4a50;
	flex-shrink: 0;
	width: 60px;
}

.slider-value {
	font-size: 14px;
	font-weight: 600;
	color: #4e4a50;
	margin-left: 10px;
	flex-shrink: 0;
	width: 40px;
	text-align: left;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 200px;
	height: 4px;
	border-radius: 5px;
	outline: none;
	opacity: 0.9;
}

.hue-slider {
	background: linear-gradient(
		to right,
		red,
		orange,
		yellow,
		green,
		cyan,
		blue,
		purple,
		red
	);
}

.blur-slider,
.opacity-slider {
	background: #ddd;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: white;
	border: 1px solid #ddd;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: white;
	border: 1px solid #ddd;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
